.name-value-tag {
    background-color: #333; /* Dark background color */
    color: white; /* Text color */
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow effect */
    margin-bottom: 15px;
    width: 22%;
    padding: 20px;

  }
  
  .name {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 30px;
  }
  
  .value {
    font-size: 18px;
  }
  